// Font
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Lato:ital,wght@1,700&family=Orbitron:wght@400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&family=Shantell+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');

// Variabel
$specialColor: #ff1053;
$primaryColor: #ff00a8;
$secondaryColor: #f68bd2;
$tertiaryColor: #b10cff;

// Styles
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
  text-decoration: none;
  // outline: 1px solid red;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 150px;
}

body {
  overflow-x: hidden;
}

.mar-top {
  margin-top: 100px;
}
.mar-bot {
  margin-top: 100px;
}
.pad-top {
  padding-top: 100px;
}
.pad-bot {
  padding-bottom: 100px;
}

// NavBar
.custom-navbar {
  background-color: $primaryColor;
  width: 100%;
  box-shadow: 0px 1px 5px $primaryColor;
  .navbar-brand {
    color: white;
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
  }
  #navbarNav {
    .navbar-nav {
      .nav-item {
        .nav-link {
          color: white;
          font-weight: 700;
          font-family: 'Shantell Sans', cursive;

          &:hover {
            color: black;
          }
        }
      }
    }
  }
}

// Landing Page
.landing-page {
  .row {
    .image {
      width: 100%;
    }
    h1 {
      font-size: 75px;
      font-weight: 700;
      color: $primaryColor;
      text-align: center;
      font-family: 'Shantell Sans', cursive;
      margin-top: 70px;
      margin-bottom: 40px;
      span {
        color: $specialColor;
        font-family: 'Shantell Sans', cursive;
        font-weight: bold;
      }
    }
    .benefit {
      .benefit-image {
        width: 180px;
        height: 120px;
      }
    }
    .right-landing-page {
      display: grid;
      place-items: center;
    }
  }
}

// Advantage
.main {
  background-color: $primaryColor;
  .container-fluid {
    .row {
      .left-main {
        h4 {
          font-family: 'Shantell Sans', cursive;
          font-size: 40px;
          font-weight: 700;
          color: white;
        }
        .cards {
          display: flex;
          gap: 10px;

          .card {
            width: 200px;
            height: 300px;
            box-shadow: -2px -2px 2px 2px $specialColor;
            h6 {
              font-family: 'Shantell Sans', cursive;
              display: flex;
              margin: auto;
              font-size: 20px;
              font-weight: 700;
              color: $specialColor;
            }
          }
        }
      }
      .right-main {
        img {
          display: flex;
          margin: auto;
          width: 150px;
          height: 150px;
          border: 3px solid rgb(255, 255, 255);
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
          margin-top: 120px;
        }
        h5 {
          font-family: 'Shantell Sans', cursive;
          text-align: center;
          font-size: 16px;
          color: white;
          font-weight: 900;
        }
      }
    }
  }
}

//Most Visited
.most-visited {
  background-color: black;
  .container-fluid {
    .container {
      .row {
        .most-visited-city {
          height: 500px;
          width: 300px;
          border-radius: 15px;
          -webkit-border-radius: 15px;
          -moz-border-radius: 15px;
          -ms-border-radius: 15px;
          -o-border-radius: 15px;
        }
        .btn {
          font-family: 'Shantell Sans', cursive;
          width: 300px;
          padding: 5px;
          color: white;
          background-color: $specialColor;
          border: 1px solid white;

          &:hover {
            background-color: $secondaryColor;
            border: 1px solid black;
            color: black;
          }
        }
      }
    }
  }
}

// review
.review {
  .container-fluid {
    .container {
      .review-core {
        justify-content: space-around;
        h1 {
          text-align: center;
          font-weight: 700;
          font-family: 'Shantell Sans', cursive;
        }
      }

      .card {
        width: 190px;
        height: 254px;
        background-image: linear-gradient(
          163deg,
          $secondaryColor 0%,
          $specialColor 100%
        );
        border-radius: 20px;
        transition: all 0.3s;
        cursor: pointer;
        &:hover {
          box-shadow: 0px 0px 30px 1px $primaryColor;
        }
        .card2 {
          width: 190px;
          height: 254px;
          background-color: black;
          border-radius: 20px;
          transition: all 0.2s;
          text-align: center;
          h1 {
            font-size: 20px;
            padding-top: 7px;
            color: white;
          }
          img {
            width: 120px;
            height: 120px;
            object-fit: cover;
            border: 2px solid white;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
          }
          .icon {
            i {
              color: yellow;
            }
          }
          h6 {
            color: white;
          }
          &:hover {
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            -ms-border-radius: 20px;
            -o-border-radius: 20px;
            transform: scale(0.98);
            border-radius: 20px;
          }
        }
      }
    }
  }
}
// Last review

// Contact Us
.contact-us {
  .container-fluid {
    .container {
      h1 {
        color: white;
        font-weight: 700;
        font-family: 'Shantell Sans', cursive;
      }
      .left-contact-us {
        color: white;

        input {
          &:focus {
            border: 1px solid #37ff00;
          }
        }
      }
      .right-contact-us {
        display: flex;

        $color_1: #fff;
        $color_2: #000;
        $font-family_1: sans-serif;
        $background-color_1: #212121;
        $background-color_2: rgba(255, 255, 255, 0.185);
        $background-color_3: #fff;

        .pack-container {
          position: relative;
          margin: auto;
          display: flex;
          max-width: 350px;
          flex-direction: column;
          border-radius: 12px;
          background-color: $background-color_1;
          border: 1px solid #fff;
          padding: 1.6rem;
          color: $color_1;
          box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1),
            0 2px 4px -2px rgb(0 0 0 / 0.1);
        }
        .header {
          position: relative;
          margin: 0;
          margin-bottom: 2rem;
          overflow: hidden;
          border-radius: 0;
          border-bottom: 1px solid #fff;
          background: transparent;
          padding-bottom: 1rem;
          text-align: center;
        }
        .title {
          display: block;
          font-family: $font-family_1;
          font-size: 0.875rem;
          line-height: 1.25rem;
          text-transform: uppercase;
          color: $color_1;
        }
        .price-container {
          margin-top: 10px;
          display: flex;
          justify-content: center;
          align-items: flex-start;
          gap: 4px;
          font-family: $font-family_1;
          font-size: 4.5rem;
          line-height: 1;
          span {
            &:first-child {
              margin-top: 10px;
              font-size: 2.25rem;
              line-height: 2.5rem;
            }
            &:last-child {
              align-self: flex-end;
              font-size: 2.25rem;
              line-height: 2.5rem;
            }
          }
        }
        .lists {
          display: flex;
          flex-direction: column;
          gap: 8px;
        }
        .list {
          display: flex;
          align-items: center;
          gap: 10px;
          span {
            border-radius: 50%;
            border: 1px solid rgba(255, 255, 255, 0.24);
            background-color: $background-color_2;
            height: 30px;
            width: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
              height: 12px;
              width: 12px;
            }
          }
          p {
            display: block;
            font-family: $font-family_1;
            margin-top: 20px;
          }
        }
        .button-container {
          margin-top: 20px;
          padding: 0;
          button {
            display: block;
            width: 100%;
            background-color: $background-color_3;
            padding: 10px 20px;
            text-transform: uppercase;
            color: $color_2;
            outline: 0;
            border: 0;
            border-radius: 10px;
            border: 2px solid rgba(255, 255, 255, 0.185);
            &:hover {
              background-color: #212121;
              color: white;
              border: 2px solid wheat;
            }
          }
        }
      }
    }
  }
}

// Contact Last Us

// Footer

.footer {
  .container-fluid {
    background-color: whitesmoke;
    .container {
      .footer-core {
        display: flex;
        p {
          margin: auto;
          color: rgb(0, 0, 0);
          font-weight: 500;
          padding: 10px;
          i {
            color: red;
          }
          span {
            font-weight: 700;
          }
        }
      }
    }
  }
}

// Last Footer

@media screen and (max-width: 576px) {
  // Landing Page
  .landing-page {
    .row {
      .image {
        width: 100%;
      }
      h1 {
        font-size: 40px;
        margin-top: 30px;
        margin-bottom: 25px;
      }
    }
  }

  // Advantage
  .main {
    .container-fluid {
      .row {
        .left-main {
          h4 {
            font-size: 30px;
          }
          .cards {
            display: grid;
            place-items: center;
            .card {
              width: 200px;
              height: 300px;
              box-shadow: -2px -2px 2px 2px $specialColor;
              h6 {
                font-size: 10px;
              }
            }
          }
        }
        .right-main {
          img {
            margin-top: 40px;
          }
        }
      }
    }
  }

  //Most Visited
  .most-visited {
    .container-fluid {
      .container {
        .row {
          .most-visited-city {
            display: flex;
            margin: auto;
            height: 300px;
            width: 200px;
            margin-top: 25px;

            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
          }
          .btn {
            width: 200px;
            display: flex;
            margin: auto;
            justify-content: center;
            margin-bottom: 20px;
          }
        }
      }
    }
  }

  // review
  .review {
    .container-fluid {
      .container {
        .card {
          margin: 15px;
        }
      }
    }
  }

  // Last review
}
